{% extends 'accueil.html' %}

{% block title %}
<title>Montrer les Trajets</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <a class="btn btn-add mb-2" href="/Trajet/add">
        Ajouter
        <i class="bi bi-plus-square"></i>
    </a>

    <table class="table text-center">
        <thead>
        <tr>
            <th>Identifiant du trajet</th>
            <th>Horaire de départ</th>
            <th>Nombre de place disponible</th>
            <th>Ville de départ</th>
            <th>Ville d'arrivée</th>
            <th>Plaque d'immatriculation</th>
            <th>Identifiant d'inscription</th>
            <th>Opérations</th>
        </tr>
        </thead>
        <tbody>
        {% if Trajets | length >= 1 %}
        {% for ligne in Trajets %}
        <tr>
            <td>{{ ligne.Id_trajet }}</td>
            <td>{{ ligne.Horaire_depart }}</td>
            <td>{{ ligne.Nb_Place }}</td>
            <td>{{ ligne.aller }}</td>
            <td>{{ ligne.retour }}</td>
            <td>{{ ligne.Immat }}</td>
            <td>{{ ligne.Nom }}</td>
            <td>
                <a class="btn btn-op" href="/Trajet/edit/{{ ligne.Id_trajet }}">
                    Éditer
                    <i class="bi bi-pencil-fill"></i>
                </a>

                <a class="btn btn-op" href="/Trajet/delete?Id_trajet={{ ligne.Id_trajet }}"
                   onclick="return confirm('Êtes vous sûrs de vouloir supprimer un trajet ?')">
                    Supprimer
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <tr>
            <td> Pas de Trajets</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}